#navbar {
  background-color: #00cc99;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 90px;
  margin-bottom: 0;
  display: flex; /* flexbox */
  justify-content: center; /* flexbox */

  .navbar-header {
    align-self: center; /* flexbox */

    .region-navigation {

      .navbar-brand {
        display: none;
      }
    }
  }
}
